<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="heading">
        <div class="headers">
            <p>First Name</p>
            <p>Last Name</p>
            <p>Full Name</p>
        </div>
    </div>
    <div class="table">
        {% for user in users %}
            <div class="names">
                <p>{{user['first_name']}}</p>
                <p>{{user['last_name']}}</p>
                <p>{{user['first_name'] +' '+ user['last_name']}}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>