<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (One)</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>{{user_info.first_name}} {{user_info.last_name}}- User ID: {{user_info.id}}</h1>
            <a href="/"class="home" style="background-color: white;"><button class="home">Home</button></a>
        </div>
        <table >                
            <tr>
                <td> ID: {{user_info.id}}</td>
            </tr>
            <tr>
                <td> Full Name: {{user_info.first_name}} {{user_info.last_name}}</td>
            </tr>
            <tr>
                <td> Email: {{user_info.email}}</td>
            </tr>
            <tr>
                <td> Created At: {{user_info.created_at}}</td>
            </tr>
            <tr>
                <td> Last updated: {{user_info.updated_at}}</td>
            </tr>
        </table>
        <a href="/edit_user/{{user_info.id}}"><button class="create">Edit</button></a>
        <a href="/delete/{{user_info.id}}"><button class="create">Delete</button></a>
    </div>
</body>
</html>