<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Great <br> Number Game!!!</h1>
        <p>I am thinking of a number between 1 and 100...</p>
        <p class="message" style="background-color: red;">{{session['message']}}</p>
        <p>Number of guesses = {{session['attempts']}}</p>
        <div class="guessing">
            <form action="/guess" method="post">
                <label for="guess">Take a guess!</label>
                <input type="text" name="guess" id="guess" autofocus="autofocus">
                <input type="submit" style="background-color: rgb(60, 78, 60); color: white;">
            </form>
        </div>
    </div>
</body>
</html>