<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div style="margin:auto; width:900px; display:block;align-items:center;">
        <div style="display: flex;align-items:center;padding-top: 100px;">
            <h1 style="margin:auto;font-size:600; font-family:'Balsamiq Sans', cursive;">Welcome !</h1>
        </div>
        <div style="margin:auto; width: 850px;height: auto;display:flex; flex-wrap:wrap; justify-content:center;">            
            {% for x in range(0,times): %}
                <div style="margin:35px ;height:125px; width: 125px;border:4px solid black;background-color:{{color}};">
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>