<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (All)</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>All Users</h1>
        <table >
            <tr class="tableh">
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Action</th>                
            </tr>
            {%for one_user in all_users:%}
                <tr>
                    <td>{{one_user.id}}</td>
                    <td>{{one_user.first_name}} {{one_user.last_name}}</td>
                    <td>{{one_user.email}}</td>
                    <td>{{one_user.created_at}}</td>
                    <td><a href="/show_user/{{one_user.id}}"> Show |</a><a href="/edit_user/{{one_user.id}}"> Edit |</a><a href="/delete/{{one_user.id}}"> Delete</a></td>
                </tr>
            {%endfor%}
        </table>
        <a href="/new_user"><button class="create">Create User</button></a>
    </div>
</body>
</html>